.App {
    text-align: center;
    background-color: black;
  }
  
.spinner {
    margin-top: 500px;
    text-align: center;
  }

.navbar {
    min-height: 100px;
  }
  
.container {
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.wallet-info {
    text-align: right;
    font-weight: bold;
    color: white;
}

.faucet-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
}

.about-button {
    margin-top: 40px;
}

.main-btn {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid #222;
    color: black;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

label {
    text-align: right;
    padding-right: 10px;
    color: white;
  }

.poll-description {
    color: white;
    width: 60%;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 16px;
    line-height: 1.65;
    font-family: "Open Sans", sans-serif;
    color: white;
}

span {
    display: inline-block;
}

.pt-150 {
    padding-top: 150px !important;
}

.pt-100 {
    padding-top: 100px !important;
}
  
.pb-150 {
    padding-bottom: 150px !important;
}

